<script lang="ts">
  import { IconArrowLeft, IconArrowRight } from "@tabler/icons-svelte";
  import { setContext } from "svelte";
  import { writable } from "svelte/store";

  let currentPage = writable(0);
  let slot: HTMLDivElement;
  export let quit: () => void;
  let pagesCount = 0;
  setContext("pages", {
    addPage: () => {
      return pagesCount++;
    },
    currentPage,
  });
</script>

<div class="carousel">
  <div class="controls">
    {#if $currentPage === 0}
      <button class="secondary" on:click={quit}> 終了 </button>
    {:else}
      <button
        class="secondary icon-button"
        disabled={$currentPage === 0}
        on:click={() => {
          $currentPage--;
        }}
      >
        <IconArrowLeft />戻る
      </button>
    {/if}
    {#if $currentPage === pagesCount - 1}
      <button class="secondary" on:click={quit}> 終了 </button>
    {:else}
      <button
        class="secondary icon-button"
        disabled={$currentPage === pagesCount - 1}
        on:click={() => {
          $currentPage++;
        }}
      >
        <p>次へ</p>
        <IconArrowRight />
      </button>
    {/if}
  </div>
  <slot />
</div>

<style scoped>
  .carousel {
    width: 100%;
    height: 100%;
    & > .controls {
      width: 100%;
      display: flex;
      justify-content: space-between;
      & > button {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
</style>
