<script lang="ts">
  import { getContext } from "svelte";
  import type { Writable } from "svelte/store";

  let pages: {
    addPage: () => number;
    currentPage: Writable<number>;
  } = getContext("pages");
  let thisPage = pages.addPage();
  let current = pages.currentPage;
</script>

{#if $current == thisPage}
  <slot />
{/if}
