<script lang="ts">
  import {
    IconBrandGitlab,
    IconBrandTwitter,
    IconBrandX,
    IconCode,
    IconHelp,
    IconLicense,
    IconPlayerPlay,
    IconShare,
    IconVolume,
    IconVolumeOff,
  } from "@tabler/icons-svelte";
  import { Game, type boardConfig, type playerConfig } from "./game";
  import { slide } from "svelte/transition";
  import { Router, Route, navigate } from "svelte-routing";
  import { writable } from "svelte/store";
  import { onMount } from "svelte";

  export let url = "";
  let game_session: {
    game: Game;
    score: number;
    config: { scorerate: number; endless: boolean };
  } | null = null;
  let help = false;
  let mute = localStorage.getItem("mute") === "true";
  let GameBoard: typeof import("./GameBoard.svelte").default;
  let Tutorial: typeof import("./Tutorial.svelte").default;
  onMount(async () => {
    GameBoard = (await import("./GameBoard.svelte")).default;
    Tutorial = (await import("./Tutorial.svelte")).default;
  });
  $: localStorage.setItem("mute", String(mute));
  let bestScore = writable(
    localStorage.getItem("best") ? Number(localStorage.getItem("best")) : 0
  );
  $: {
    if (Number(localStorage.getItem("best")) > $bestScore) {
      // 複数同時にプレイしている場合の対策
      $bestScore = Number(localStorage.getItem("best"));
    } else {
      localStorage.setItem("best", String($bestScore));
    }
  }
</script>

<div id="mainview">
  <header>
    <h1>MyMine</h1>
    <div class="action">
      <button class="secondary" on:click={() => (help = !help)}>
        <IconHelp />
      </button>
      <button class="secondary" on:click={() => (mute = !mute)}
        >{#if mute}
          <IconVolumeOff />
        {:else}
          <IconVolume />
        {/if}</button
      >
    </div>
    {#if help}
      <div class="tutorial" transition:slide={{ duration: 400 }}>
        <p>
          このゲームの目標は、与えられた<b>体力</b>を消耗しきる前に<b
            >地雷を探し出し、目標数回収する</b
          >ことです。
        </p>
        <br />
        <p>プレイヤーは、自身の現在地周囲９マスに以下の行動ができます:</p>
        <dl>
          <dt>掘削</dt>
          <dd>そのマスに地雷があれば回収できる。</dd>
          <dt>探査</dt>
          <dd>周囲９マスの地雷の数（そのマスを含む）を調べる。</dd>
          <dt>移動</dt>
          <dd>
            移動する。移動先に未回収の地雷があれば、負傷し余分に体力を消耗する。また、地雷は回収できなくなる。
          </dd>
        </dl>
        <br />
        <h3>マスの中の表示</h3>
        <ul>
          <li>💣: 地雷がある</li>
          <li>🌱: 地雷がない</li>
          <li>数字: 隣接するマスにある地雷の数の合計</li>
        </ul>
        <details>
          <summary>ストーリー</summary>
          <p>
            俺はタナカタロー。用意された場所の中から一定数の地雷を回収し、売っぱらうことで生活している。俺の反射神経さえあれば地雷を避けることが出来るから、天職だ。
            俺は今日も金のため、地雷原へ行く。
          </p>
        </details>
      </div>
    {/if}
  </header>
  <main>
    <Router {url} basepath={import.meta.env.BASE_URL.replace(/^(.*)\/$/, "$1")}>
      <Route>
        {(() => {
          setTimeout(
            () => navigate(import.meta.env.BASE_URL, { replace: true }),
            1000
          ); // 直接呼ぶとレースコンディションでおかしくなる...
          return "You've found a secret page that doesn't exist!";
        })()}
      </Route>
      <Route path="/tutorial">
        <svelte:component this={Tutorial} />
      </Route>
      <Route path="/game">
        {#if !game_session}
          {(() => {
            setTimeout(() => navigate("./", { replace: true }), 1000); // 直接呼ぶとレースコンディションでおかしくなる...
            return "Wow! You've entered a mysterious place!";
          })()}
        {:else}
          <svelte:component
            this={GameBoard}
            {game_session}
            {mute}
            {bestScore}
          />
        {/if}
      </Route>
      <Route path="/">
        <h2>周囲の地雷を探し出し、目標数回収しろ！</h2>
        <div class="mainmenu">
          <button class="secondary" on:click={() => navigate("./tutorial")}
            >操作方法を確認する</button
          >
          <button
            class="icon-button"
            on:click={() => {
              game_session = {
                game: new Game(
                  { size: [6, 5], mines: 10 },
                  {
                    initial_location: [0, 0],
                    initial_cost: 50,
                    cost_weight: {
                      dig: 3,
                      investigate: 1,
                      move: 1,
                      damaged: 1,
                    },
                    goal: 6,
                  }
                ),
                score: 0,
                config: { scorerate: 1, endless: true },
              };
              navigate("./game");
            }}><IconPlayerPlay size={20} />ゲームをプレイする</button
          >
        </div>
        {#if $bestScore != 0}
          <h2>あなたのハイスコア</h2>
          <div class="bestscore">
            <p>{$bestScore}</p>
            <button
              class="icon-button"
              on:click={() =>
                navigator.share({
                  text: `MyMine でハイスコア${$bestScore}を達成した。`,
                  url: location.href,
                })}><IconShare size={20} />ハイスコアを共有</button
            >
          </div>
        {/if}
      </Route>
    </Router>
  </main>
</div>
<Router {url} basepath={import.meta.env.BASE_URL.replace(/^(.*)\/$/, "$1")}>
  <Route path="/">
    <footer>
      <!-- トップページのみクレジット表記を出す -->
      <a
        href="https://twitter.com/gU57kYNaqv63598"
        target="_blank"
        rel="noopener"
        class="icon-link"
        >{#if Math.random() < 0.9}
          <IconBrandX size={20} />
        {:else}
          <IconBrandTwitter size={20} />
        {/if}魚醤 (企画・監督)</a
      >
      <a
        href="https://gitlab.com/kasmide"
        target="_blank"
        rel="noopener"
        class="icon-link"
        ><IconBrandGitlab size={20} />kasmide (プログラム・UI)</a
      >
      <a
        href="https://gitlab.com/kasmide/mine"
        target="_blank"
        rel="noopener"
        class="icon-link"><IconCode size={20} />ソースコード</a
      >
      <a
        href="https://gitlab.com/kasmide/mine/-/blob/master/src/assets/LICENSE.adoc"
        target="_blank"
        rel="noopener"
        class="icon-link"><IconLicense size={20} />使用した素材</a
      >
    </footer>
  </Route>
</Router>

<style scoped>
  #mainview {
    width: calc(100vw - 40px);
    max-width: 400px;
    display: grid;
    grid-template-rows: auto 1fr;
    & > header {
      position: relative;
      & > .action {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
        & > button {
          margin: 0;
        }
      }
      & > .tutorial {
        position: absolute;
        text-align: left;
        padding: 24px;
        margin-top: 16px;
        background-color: #edc;
        border-radius: 6px;
        z-index: 1;
      }
    }
    & > main {
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & > .mainmenu {
        display: grid;
        width: 100%;
        padding: 10px;
        margin-bottom: 30px;
        & > div {
          & > button {
            width: 100%;
            font-size: 20px;
            font-weight: 600;
            margin: 0;
          }
        }
        & > div:last-child {
          grid-column: 1 / -1;
          & > button {
            color: #e46;
          }
        }
      }
      & > .bestscore {
        margin-bottom: 30px;
        & > p {
          font-size: 24px;
          font-weight: 600;
          margin: 6px;
        }
      }
    }
  }
  footer {
    font-size: 14px;
    padding: 12px;
    border-top: solid 2px #9657171c;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
  }
</style>
