:root {
  --theme-color: rgb(207, 115, 24);
  --color-text: #965717;
}

body {
  min-height: 100svh;
  font-family: sans-serif;
  margin: 0;
  display: flex;
  color: #444;
  background: #fed;
}

button {
  background: #fefefe;
  padding: 8px 16px;
  margin: 4px;
  border-radius: 4px;
  display: inline-flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
button.secondary {
  color: var(--color-text);
  background: transparent;
}

button:disabled {
  color: #888;
}
a {
  color: var(--color-text);
  text-decoration: none;
  display: inline-flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  &.icon-link > :first-child {
    margin-right: 6px;
  }
}
#app {
  margin: 40px auto 0 auto;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
}
button.icon-button > :first-child {
  margin-right: 6px;
}

dt {
  font-weight: 600;
}
dd {
  margin-left: 8px;
}
