<script lang="ts">
  import {
    IconShovel,
    IconSearch,
    IconArrowMoveRight,
    IconArrowBackUp,
    IconArrowRight,
    IconShare,
  } from "@tabler/icons-svelte";
  import { Game } from "./game";
  import * as Sound from "./assets/se/mod";
  import BGM from "./assets/bgm.mp3";
  import { onDestroy } from "svelte";
  import { fade, slide } from "svelte/transition";
  import { elasticOut, expoOut } from "svelte/easing";
  import { navigate } from "svelte-routing";
  import type { Writable } from "svelte/store";
  export let game_session: {
    game: Game;
    score: number;
    config: { scorerate: number; endless: boolean };
  };
  export let mute: boolean;
  let location: [number, number] | null = null;
  export const continueGame = (newgame: Game) => {
    game_session.game = newgame;
    location = null;
  };
  export let bestScore: Writable<number>;
  function setTargetLocation(location_cand: [number, number]) {
    // 隣接するマスのみ移動可能
    if (
      Math.abs(location_cand[0] - game_session.game.player_state.location[0]) <=
        1 &&
      Math.abs(location_cand[1] - game_session.game.player_state.location[1]) <=
        1
    ) {
      location = location_cand;
    }
  }
  let sound_found = new Audio(Sound.MineFound);
  let sound_exploded = new Audio(Sound.MineExploded);
  let sound_safe = new Audio(Sound.Safe);
  let sound_investigate = new Audio(Sound.Investigate);
  let bgm = new Audio(BGM);
  bgm.loop = true;
  $: {
    if (mute) {
      bgm.pause();
    } else {
      bgm.play();
    }
  }
  onDestroy(() => {
    bgm.pause();
  });
</script>

<div id="game">
  <div id="topmenu">
    <div class="action">
      <button class="icon-button secondary" on:click={() => navigate("./")}
        ><IconArrowBackUp size={20} />はじめに戻る</button
      >
    </div>
    <div id="status">
      <div class="left">
        <p>ハイスコア: <b>{$bestScore}</b></p>
        <p>
          スコア: <b>{game_session.score}</b>
          {#if game_session.config.scorerate != 1}
            (x{game_session.config.scorerate}){/if}
        </p>
      </div>
      <div class="right">
        <p>
          残り体力: <b>{game_session.game.player_state.remaining_cost}</b>
        </p>
        <p>
          回収した数: 💣 <b>
            {game_session.game.config.player.goal -
              game_session.game.player_state.remaining_til_goal}/{game_session
              .game.config.player.goal}
          </b>
        </p>
      </div>
    </div>
  </div>
  <div id="board">
    {#each game_session.game.board.cells.entries() as row}
      <div class="row">
        {#each row[1].entries() as cell}
          <div
            class={(game_session.game.player_state.location[0] == row[0] &&
            game_session.game.player_state.location[1] == cell[0]
              ? "current "
              : "") +
              (location && location[0] == row[0] && location[1] == cell[0]
                ? "selected "
                : "") +
              (game_session.game.isOver() && !cell[1].isRevealed.isMine
                ? "disclosed "
                : "") +
              "cell"}
          >
            <button on:click={() => setTargetLocation([row[0], cell[0]])}>
              {#if game_session.game.isOver() && !cell[1].isRevealed.isMine}
                <p
                  in:fade={{ duration: 600, easing: expoOut }}
                  out:fade={{ duration: 0 }}
                >
                  {cell[1].isMine ? (cell[1].isExploded ? "💥" : "💣") : "🌱"}
                </p>
              {/if}
              {#if cell[1].isRevealed.isMine}
                <p>
                  {cell[1].isMine ? (cell[1].isExploded ? "💥" : "💣") : "🌱"}
                </p>
              {/if}
              {#if cell[1].isRevealed.nearbyMines}
                <p>{cell[1].nearbyMines}</p>
              {/if}
            </button>
          </div>
        {/each}
      </div>
    {/each}
    {#if game_session.game.isOver()}
      <div
        class="overlay"
        in:slide={{ delay: 200, duration: 1600, easing: elasticOut }}
        out:slide={{ duration: 500, easing: expoOut }}
      >
        {#if game_session.game.didPlayerWin()}
          <div class="win">
            <h2>ゲームクリア 🎉</h2>
            <p>スコア: <b>{game_session.score}</b></p>
            {#if game_session.config.endless}
              <p>
                残り体力: <b>{game_session.game.player_state.remaining_cost}</b
                >→<b
                  >{game_session.game.player_state.remaining_cost +
                    Math.ceil(
                      (game_session.game.config.player.initial_cost * 3) / 4
                    )}</b
                >
              </p>
              <button
                class="icon-button secondary"
                on:click={() => {
                  let remaining_cost =
                    game_session.game.player_state.remaining_cost;
                  game_session.game = new Game(game_session.game.config.board, {
                    ...game_session.game.config.player,
                    initial_cost: Math.ceil(
                      (game_session.game.config.player.initial_cost * 3) / 4
                    ),
                  });
                  game_session.game.player_state.remaining_cost +=
                    remaining_cost;
                  continueGame(game_session.game);
                  game_session.config.scorerate += 0.5;
                }}
                ><p>続ける</p>
                <IconArrowRight size={20} /></button
              >
            {:else}
              <button
                class="icon-button secondary"
                on:click={() =>
                  navigator.share({
                    text: `MyMine でスコア${game_session.score}を達成した。`,
                    url: window.location.href,
                  })}><IconShare size={20} />スコアを共有する</button
              >
            {/if}
          </div>
        {:else}
          <div class="lose">
            <h2>ゲームオーバー</h2>
            <p>スコア: <b>{game_session.score}</b></p>
            <button
              class="icon-button secondary"
              on:click={() =>
                navigator.share({
                  text: `MyMine でスコア${game_session.score}を達成した。`,
                  url: window.location.href,
                })}><IconShare size={20} />スコアを共有する</button
            >
          </div>
        {/if}
      </div>
    {/if}
  </div>
  <div
    id="bottommenu"
    class={location && !game_session.game.isOver() ? "shown" : ""}
  >
    <button
      disabled={!location ||
        game_session.game.isOver() ||
        game_session.game.config.player.cost_weight.dig >
          game_session.game.player_state.remaining_cost ||
        game_session.game.board.cells[location[0]][location[1]].isRevealed
          .isMine}
      class="icon-button"
      on:click={() => {
        if (game_session.game.digCell(location)) {
          game_session.score += 100 * game_session.config.scorerate;
          if (game_session.game.player_state.remaining_til_goal == 0) {
            game_session.score += 300 * game_session.config.scorerate;
          }
          if (game_session.score > $bestScore) {
            $bestScore = game_session.score;
          }
          if (!mute) sound_found.play();
        } else {
          if (!mute) sound_safe.play();
        }
        game_session.game = game_session.game;
      }}
      ><IconShovel size={20} />掘削 ({game_session.game.config.player
        .cost_weight.dig})</button
    >
    <button
      disabled={!location ||
        game_session.game.isOver() ||
        game_session.game.config.player.cost_weight.investigate >
          game_session.game.player_state.remaining_cost ||
        game_session.game.board.cells[location[0]][location[1]].isRevealed
          .nearbyMines}
      class="icon-button"
      on:click={() => {
        game_session.game.investigateCell(location);
        if (!mute) sound_investigate.play();
        game_session.game = game_session.game;
      }}
      ><IconSearch size={20} />探査 ({game_session.game.config.player
        .cost_weight.investigate})</button
    >
    <button
      disabled={!location ||
        game_session.game.isOver() ||
        game_session.game.config.player.cost_weight.move >
          game_session.game.player_state.remaining_cost ||
        (location[0] == game_session.game.player_state.location[0] &&
          location[1] == game_session.game.player_state.location[1])}
      class="icon-button"
      on:click={() => {
        switch (game_session.game.movePlayer(location)) {
          case "accept":
            break;
          case "bomb":
            if (!mute) sound_exploded.play();
            break;
        }
        location = null;
        game_session.game = game_session.game;
      }}
      ><IconArrowMoveRight size={20} />移動 ({game_session.game.config.player
        .cost_weight.move})</button
    >
  </div>
</div>

<style scoped>
  #game {
    width: 100%;
    & > #topmenu {
      & > .action {
        display: grid;
        grid-template-columns: auto 1fr;
        width: 100%;
        & > :first-child {
          padding-left: 0;
        }
      }
      & > #status {
        margin: 4px 0;
        display: grid;
        grid-template-columns: 1fr auto;

        & > .left {
          text-align: left;
        }

        & > .right {
          text-align: right;
        }
      }
    }

    & > #bottommenu {
      margin: 16px 0;
      opacity: 0;
      &.shown {
        opacity: 1;
      }
    }

    & > #board {
      display: grid;
      grid-auto-rows: 1fr;
      gap: 4px;
      height: 60vh;
      min-height: 300px;
      max-height: 500px;
      width: 100%;
      background: #edc;
      border-radius: 6px;
      padding: 8px;
      position: relative;
      overflow: hidden;
      & > .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff5eccf;
        display: grid;
        align-items: center;
        & > div {
          & > h2 {
            margin-bottom: 16px;
          }
          & > p {
            font-size: 18px;
          }
        }
      }

      & > .row {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        gap: 4px;

        & > .cell {
          & > button {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            font-size: 20px;
            font-weight: 600;
            transition: background-color 400ms ease;
            & > p {
              margin: 4px;
            }
          }
          &.disclosed button {
            background-color: #fff8;
          }
          &.current button {
            border: solid 3px var(--theme-color);
          }
          &.selected button {
            border: dotted 3px var(--theme-color);
          }
        }
      }
    }
  }
</style>
