<script lang="ts">
  import { navigate } from "svelte-routing";
  import { Carousel, Page } from "./lib/Carousel/mod";
  import Img1 from "./assets/help/1.svg";
  import Img2 from "./assets/help/2.svg";
  import Img3 from "./assets/help/3.svg";
</script>

<Carousel quit={() => navigate("./")}>
  <Page>
    <div class="tutorial-text">
      <h2>はじめに</h2>
      <p>
        このゲームの目標は、与えられた<b>体力</b>を消耗しきる前に<b
          >地雷を探し出し、目標数回収する</b
        >ことです。
      </p>
      <br />
      <p>プレイヤーは、自身の現在地周囲９マスに以下の行動ができます:</p>
      <dl>
        <dt>掘削</dt>
        <dd>そのマスに地雷があれば回収できる。</dd>
        <dt>探査</dt>
        <dd>周囲９マスの地雷の数（そのマスを含む）を調べる。</dd>
        <dt>移動</dt>
        <dd>
          移動する。未回収の地雷が移動先にあれば、負傷し余分に体力を消耗する。また、地雷は回収できなくなる。
        </dd>
      </dl>
      <br />
      <p>
        行動には体力の減少が伴います。そのため、ゲームを有利に進めるには、<b
          >掘削・探査・移動</b
        >の３つの行動をうまく使いこなさなければなりません。
      </p>
      <!-- <br />
      <p>
        このチュートリアルで、それぞれの行動の上手な使い方を学んでいきましょう。
      </p> -->
    </div>
  </Page>
  <Page>
    <div class="tutorial-text">
      <h2>画面上の表示について</h2>
      <p>
        画面上部には、現在の<b>体力</b>と<b>目標数</b>が表示されています。
        <img src={Img1} alt="画面上部の表示" />
      </p>
      <br />
      <p>
        実線で囲まれた部分が、プレイヤーの<b>現在地</b
        >を示しています。プレイヤーは、このマスを中心に周囲９マスに行動を行うことができます。
        <img src={Img2} alt="プレイヤーの現在地" />
      </p>
      <p>
        地雷のあるマスには💣が、ないマスには🌱が表示されます。
        また、マスの中の数字は、そのマスに隣接する地雷の数を示しています。この数字を参考に、地雷の位置を推測しましょう。
      </p>
      <br />
      <p>
        マスを選択すると、画面下部にプレイヤーが行える行動が表示されます。
        <img src={Img3} alt="行動選択" />
      </p>
    </div>
  </Page>
</Carousel>

<style scoped>
  .tutorial-text {
    text-align: left;
    & > h2 {
      text-align: center;
      margin-bottom: 16px;
    }
  }
  img {
    width: 100%;
  }
</style>
